@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --yellow-color: hsla(48, 90%, 59%, 1);
  --white-color: hsla(0, 0%, 100%, 1);
  --black-color: hsla(18, 68%, 4%, 1);
  --gray-color: hsla(258, 68%, 4%, 0.75);
  --light-gray: hsla(258, 7%, 28%, 0.48);
}
